<img src={{image}}/>
<p>{{text}}</p>
<form action={{id.options[0]toRoute}} method="post">
  <button class="optionOneButton" type="button" method="post">{{id.options[0]buttonText}}</button>
</form>
<form form action={{id.options[1]toRoute}} method="post">
  <button class="optionOneButton" type="button">{{options[1].buttonText}}</button>
</form>
