<div class="container">
<img class="story-image"src="{{image}}"/>
<p>{{text}}</p>
</div>
<div class="container">
<form action="{{button1-link}}">
  <button class="button">{{button1-text}}</a>
</form>
<form action="{{button2-link}}">
  <button class="button">{{button2-text}}</a>
</form>
</div>